.error-block{
    display: block;
    background-color: rgb(217, 153, 153);
    color: red;
    padding: 20px;
    width: 100%;
    border: 1px solid red;
}

.message-block {
    display: block;
    background-color: rgb(171, 249, 185);
    color: green;
    padding: 20px;
    width: 100%;
    border: 1px solid green;
}