// Text Colors
$text-primary: $clr-grey-primary; // Primary text color
$text-secondary: $clr-grey-secondary; // Secondary text color
$text-muted: $clr-grey-primary; // Muted text color
$text-white: $clr-white; // White text color