@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Protest Guerrilla", sans-serif;

    & img {
        max-width: 100px;
        height: auto;
    }

    /* Title styling */
    & h1 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        color: #333;
        /* Dark color for the title */
        margin: 0;
        /* Removes margin around the title */
        line-height: 1.2;
    }

    /* Description styling */
    & p {
        margin-top: 0px;
        font-size: 16px;
        color: #666;
    }
}
/* Logo image styling */
