/* Basic table styling */
.responsive-table {
    margin-top: 20px;
    overflow-x: auto;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

@media (max-width: 768px) {

    th,
    td {
        display: block;
        width: 100%;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 1rem;
        display: block;
    }

    td {
        text-align: right;
        position: relative;
        padding-left: 50%;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 1rem;
        font-weight: bold;
        text-align: left;
        background: #f4f4f4;
    }
}