.adminSidebar{
    background-color: var(--clr-grey-primary);
    height: 100vh;
    color: var(--clr-white);
    padding:  20px 0;
    &__item{
        cursor: pointer;
        & span{
            background-color: var(--clr-primary);
            display: block;
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
        }
        &__sublist{
            margin-left:20px ;
            display: none;
            height: 0px;
            &__subitem{
                margin-block: 5px;
                & a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.active{
    height: fit-content;
    display: block;
}