.adminSidebar{
    background-color: var(--clr-grey-primary);
    color: var(--clr-white);
    min-height: 100vh;
    color: var(--clr-white);
    padding: var(--spacing-sm);
    font-size: 1.2rem;
    &__list{
        ul{
            display: flex;
            flex-direction: column;
            margin-top: var(--spacing-lg);
            gap: var(--spacing-xl);
            & li{
                padding: 10px;
            }
            & li:hover{
                cursor: pointer;
                background-color: var(--clr-grey-secondary);
                border-left: 4px solid var(--clr-primary);
            }
        }
    }
}